*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#quoteContainer {
    /* position: sticky; */
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 65vh;
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items:center; */
    padding: 2rem 1rem 0rem 1rem;
}

.content {
    font-size: 1.5rem;
    min-width: 100%;
    text-align: center;
}

.author {
    margin: 0;
    margin-left: auto;
    margin-top: 1rem;
    padding-right: 2rem;
}

.icons {
    margin-left: auto;
    padding-right: 2rem;
}

@media screen and (orientation: landscape) and (min-width: 800px) {
    #quoteContainer {
        margin-bottom: 1.5rem;
    }
}