#taglist {
    background-color: #FFFFFF;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 0.5rem 0;
}

.title {
    text-align: center;
}

.tagsContainer {
    padding: 0.4rem 2rem 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.singleTag {
    background-color: #E2E2E2;
    border-radius: 6px;
    padding: 0.4rem;
}