*{
    margin: 0;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    /* box-sizing: border-box; */
    /* transition: 0.4s ease-in-out; */
}
.signup {
    --text-color: #FFFFFF;
    --input-text-color: #000000;
    --text-area-color: #FFFFFF;
    --background-color: #565656;
    --button-color: #C7C7C7;
    --switch-color: #727272;
    --switch-background-color: #ffffff;
}

.signin {
    --text-color: #000000;
    --input-text-color: #FFFFFF;
    --text-area-color: #565656;
    --background-color: #FFFFFF;
    --button-color: #C7C7C7;
    --switch-color: #dcdcdc;
    --switch-background-color: #707070;
}

.signin, .signup {
    padding: 2rem;
    border-radius: 20px;
    min-width: 13rem;
    width: 22%;
    max-width: 15rem;
    min-height: 18rem;
}

.titleContainer {
    color: var(--text-color);
    text-align: center;

    font-size: 1.2rem;
}

.formContainer {
    display: flex;
    background-color: #CECECE;
    min-width: 10rem;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.inputAreaContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 12rem;
    justify-content: center;
    
}

.inputLabelContainer {

}

.labelContainer {
}

.inputContainer {
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.signinSignup {
    border: none;
    background-color: var(--switch-background-color);
    cursor: pointer;
    color: var(--input-text-color);
    border-radius: 34px;
    height: 34px;
    width: 6rem;
}

.toggleSwitch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    height: 34px;
    line-height: 30px;
    right: 3.1rem;
}

.toggleSwitch input[type="checkbox"]{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    height: 34px;
    width: 120px;
    border-radius: 34px;
    /* top: 0; */
    background-color: var(--switch-background-color);
    left: calc(50% - 10px);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 60px;
    left: 4px;
    bottom: 4px;
    background-color: var(--switch-color);
    border-radius: 34px;
    z-index: 3;
    transition: 0.2s;
}

.leftSwitch, .rightSwitch {
    position: absolute;
    display: inline-block;
    z-index: 2;
    font-size: 12px;
    color: var(--input-text-color);
    white-space: nowrap;
}


input:checked + .slider:before {
    transform: translateX(50px);
    /* transition: transform 0.25s ease-in-out; */
}

.leftSwitch {
    left: 0;
}

.rightSwitch {
    left: 3.65rem;
}

form {
    color: var(--text-color);
    background-color: var(--background-color);
}

input {
    color: var(--input-text-color);
    background-color: var(--text-area-color);
}

@media screen and (max-width: 600px){
    
}

/* .submitButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--input-text-color);
    border-radius: 34px;
    background-color: var(--switch-background-color);
    padding: 0 15px;
} */

/*
.titleContainer {
    color: var(--text-color);
    text-align: center;
    font-size: 1.6rem;
}

.formContainer {
    display: flex;
    min-width: 10rem;
    height: 70vh;
    justify-content: center;
    align-items: center;
    
}

.inputAreaContainer{
    display: flex;
    gap: 1rem;
}

.labelContainer {
    flex: 1;
    text-align: end;
}

.inputContainer {
    flex: 1;
}

form {
    color: var(--text-color);
    background-color: var(--background-color);
}

input {
    color: var(--text-color);
    background-color: var(--text-area-color);
}

*/
