.cardContainer {
    border-radius: 10px;
    height: 20rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 2rem;
    margin: 1rem;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.removeIcon {
    direction: rtl;
    width: fit-content;
    position: absolute;
    padding: 0.5rem;
    top: 0.3rem;
    right: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.removeIcon:hover {
    background-color: #ffbebe;
}

.cardQuote{
    height: 11rem;
    display: flex;
    align-items: center;
}

.authorContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: .4rem;
}
.cardAuthor{
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
}

.cardTag{
    background-color: #E2E2E2;
    padding: .3rem;
    border-radius: .4rem;
}