#headerContainer {
    background-color: white;
}

#header {
    display: flex;
    justify-content: space-between;
    /* margin: 0 1rem; */
    padding: 0 1rem;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
}

#logo {
    font-size: 2rem;
    margin-right: 40px;
}

.navlinks {
    margin-top: 1rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

