#header {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

#logo {
    font-size: 2rem;
}

.navlinks {
    margin-top: 1rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}